Repository nikitavbv/turbocow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build rust openssl, bmp support test, bmp support build, core test

.gitlab-ci.yml:

stages:
  - build

variables:
  CARGO_HOME: $CI_PROJECT_DIR/.cargo
  IMAGE_VERSION_PREFIX: '0.1'

.cargo_base:
  image: $CI_REGISTRY_IMAGE/rust_openssl:0.1.1
  cache:
    - $CRATE_NAME/target
    - .cargo

.cargo_test:
  extends: .cargo_base
  stage: build
  needs: []
  except:
    - tags
  script:
    - cd $CRATE_NAME && cargo test && cd ..

.cargo_build:
  extends: .cargo_base
  stage: build
  needs: []
  except:
    - tags
  script:
    - cd $CRATE_NAME && cargo build --release && cd ..
  artifacts:
    paths:
      - $CRATE_NAME/target/release/$CRATE_NAME
    expire_in: 1 week

build rust openssl:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: ['']
  needs: []
  only:
    refs:
      - master
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"gitlab-ci-token\",\"password\":\"$CI_JOB_TOKEN\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/images/Dockerfile_rust_openssl --destination $CI_REGISTRY_IMAGE/rust_openssl:$IMAGE_VERSION_PREFIX.$CI_PIPELINE_IID
  only:
    changes:
      - images/Dockerfile_rust_openssl
    refs:
      - master

bmp support test:
  extends: .cargo_test
  variables:
    CRATE_NAME: bmp_support
  only:
    changes:
      - bmp_support/**/*

bmp support build:
  extends: .cargo_build
  variables:
    CRATE_NAME: bmp_support
  only:
    changes:
      - bmp_support/**/*
    refs:
      - master

core test:
  extends: .cargo_test
  variables:
    CRATE_NAME: core
  only:
    changes:
      - core/**/*

core build:
  extends: .cargo_build
  variables:
    CRATE_NAME: core
  only:
    chanages:
      - core/**/*
    refs:
      - master

fix(ci): fix crates cache
  .gitlab-ci.yml
  bmp_support/src/writer.rs
  core/src/main.rs
Due: bmp support test, bmp support build, core test

fix(ci): fix changes
  .gitlab-ci.yml
  bmp_support/src/writer.rs
  core/src/main.rs
Due: bmp support test, bmp support build, core test

fix(ci): use nightly
  .gitlab-ci.yml
  bmp_support/src/writer.rs
  core/src/main.rs
Due: bmp support test, bmp support build, core test

feat(images): use rust nightly
  images/Dockerfile_rust_openssl
Due: build rust openssl

feat(image): echo image tag
  .gitlab-ci.yml
Due: none

fix(ci): fix nightly builds
  .gitlab-ci.yml
  bmp_support/src/writer.rs
  core/src/main.rs
Due: bmp support test, bmp support build, core test

feat(lab1): add crate for lab1
  .gitlab-ci.yml
  lab1/Cargo.toml
  lab1/src/main.rs
Due: none

feat(ci): build core as a service
  .gitlab-ci.yml
  converter/Cargo.toml
  converter/src/main.rs
  images/Dockerfile_service
Due: none

fix(ci): fix syntax errors
  .gitlab-ci.yml
Due: none

feat(core): trigger build
  core/src/main.rs
Due: core test

feat(core): trigger build
  .gitlab-ci.yml
  core/src/main.rs
Due: core test

refactor(ci): split into multiple files
  .gitlab-ci.yml
  ci/bmp_support.yml
  ci/converter.yml
  ci/core.yml
  ci/images.yml
  ci/templates.yml
Due: none

feat(ci): build deploy tools
  .gitlab-ci.yml
  ci/images.yml
  ci/templates.yml
  images/deploy_tools.Dockerfile
  images/rust_openssl.Dockerfile
  images/service.Dockerfile
Due: none

fix(core): fix core kaniko build
  ci/core.yml
  ci/templates.yml
  core/src/main.rs
Due: core test

fix(ci): fix deploy tools build
  ci/images.yml
Due: none

fix(ci): fix images build
  ci/images.yml
Due: none

fix(core): fix image build
  ci/core.yml
  images/service.Dockerfile
Due: none

fix(images): fix image destination for kaniko
  ci/images.yml
  ci/templates.yml
Due: none

fix(core): fix image name
  ci/core.yml
Due: none

fix(images): another attempt to fix images build
  ci/images.yml
Due: none

fix(core): fix core build on ci changes
  ci/core.yml
Due: none

feat(rust_openssl): add target and toolchain for windows cross-compilation
  images/rust_openssl.Dockerfile
Due: none

fix(ci): fix built message
  ci/templates.yml
Due: none

feat(bmp_support): deploy to cloud storage
  .gitlab-ci.yml
  ci/bmp_support.yml
  ci/templates.yml
Due: none

fix(bmp_support): fix uploads
  ci/bmp_support.yml
Due: none

fix(ci): fix upload image
  ci/bmp_support.yml
  ci/templates.yml
Due: none

fix(ci): fix deploy key
  ci/templates.yml
  converter/Cargo.lock
Due: none

fix(ci): fix bmp support deploy
  ci/bmp_support.yml
Due: none

feat(nginx): add nginx image
  ci/images.yml
  images/nginx.Dockerfile
  images/nginx/nginx.conf
Due: none

fix(nginx): fix nginx crash error
  .gitignore
  deploy/nginx.yaml
  images/nginx.Dockerfile
Due: none

feat(nginx): deploy new nginx release
  deploy/nginx.yaml
Due: none

fix(nginx): another attempt to fix nginx
  images/nginx/nginx.conf
Due: none

fix(nginx): another attempt to fix nginx
  ci/images.yml
Due: none

fix(nginx): use proxy for gcs access
  deploy/cloud_storage_proxy.yaml
  deploy/nginx.yaml
  images/nginx/nginx.conf
Due: none

fix(nginx): fix upstream host name
  deploy/nginx.yaml
  images/nginx/nginx.conf
Due: none

fix(nginx): use http to access cloud-storage-proxy
  deploy/nginx.yaml
  images/nginx/nginx.conf
Due: none

fix(nginx): simplify proxy_pass
  deploy/nginx.yaml
  images/nginx/nginx.conf
Due: none

fix(nginx): fix proxy pass path
  deploy/nginx.yaml
  images/nginx/nginx.conf
Due: none

fix(nginx): set full proxy host
  deploy/nginx.yaml
  images/nginx/nginx.conf
Due: none

fix(nginx): set custom resolver
  deploy/nginx.yaml
  images/nginx/nginx.conf
Due: none
